
<% if @article.errors.any? %>
<h2> errors are shown below </h2>
<ul>
  <li> <% @article.errors.full_messages.each do |msg| %> </li>li
    <%= msg %>
  <% end %>
</ul>
<% end %>

<div class='row'>
  <div class='col-xs-12'>
     <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |x| %>
    <div class='form-group'>
      <div class='control-label col-sm-2'>
      <%= x.label :title %>
      </div>
      <div class='col-sm-8'>
        <%= x.text_field :title, class: "form-control", placeholder: "add title here", autofocus: true %>
      </div>
    </div>
  <div class='form-group'>
    <div class='control-label col-sm-2'>
      <%= x.label :description %>
    </div>
  <div class='col-sm-8'>
      <%= x.text_area :description, rows: 10, class: "form-control", placeholde: "here comes description" %>
  </div>
    </div>
  <div class='form-group'> 
    <div class="col-xs-offset-2 col-sm-10">
      <%= x.submit class: 'btn btn-primary btn-large' %>
    </div>
  </div>
    <% end %>
  <div class="col-xs-4 col-xs-offset-5">
    [ <%= link_to "Cancel and return to listing", articles_path %> ]
  </div>
</div>